In [5]:
#Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline

In [6]:
## Reading train data
df_train=pd.read_csv('Classification_train.csv')
arr_train=df_train.to_numpy()
print(f"data_train.shape: {arr_train.shape}")
df_train.describe()

data_train.shape: (30000, 785)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,30000.000000,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000,30000.0,30000.0,30000.0
mean,4.498500,0.0,0.0,0.0,0.0,0.0,0.0,0.034000,0.049900,0.087733,...,0.024233,0.031767,0.03130,0.037533,0.007433,0.002767,0.007567,0.0,0.0,0.0
std,2.860875,0.0,0.0,0.0,0.0,0.0,0.0,2.944339,2.909964,4.445233,...,1.936553,2.765576,2.07814,2.465453,1.287491,0.479201,1.310585,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,255.000000,255.000000,255.000000,...,255.000000,255.000000,150.00000,170.000000,223.000000,83.000000,227.000000,0.0,0.0,0.0

In [7]:
## Reading test data
df_test=pd.read_csv('Classification_test.csv')
arr_test=df_test.to_numpy()
print(f"data_train.shape: {arr_test.shape}")
df_test.describe()

data_train.shape: (10000, 785)

,ID,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,10000.00000,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.000000,...,10000.000000,10000.000000,10000.0000,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0
mean,9945.83690,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.100800,...,0.018000,0.044300,0.0067,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,5787.98325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.007429,...,1.277748,3.153019,0.6700,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,4895.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,9968.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,14933.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,19996.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,255.000000,...,98.000000,247.000000,67.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
## Forming Input and Output labels of training set
x_train=arr_train[:,1:]
print(x_train.shape)
print(x_train)

y_train=arr_train[:,0]
print(y_train.shape)
print(y_train)
y_log=np.zeros((30000,10))
for i in range(30000):
    y_log[i,y_train[i]]=1
print(y_log.shape)    
print(y_log)

(30000, 784)
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
(30000,)
[0 8 1 ... 9 3 9]
(30000, 10)
[[1. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

In [9]:
## Forming Input and Output labels of test set
x_test=arr_test[:,1:]
print(x_test.shape)
print(x_test)

y_test=arr_test[:,0]
print(y_test.shape)
print(y_test)
y_logtest=np.zeros((10000,20000))
for i in range(10000):
    y_logtest[i,y_test[i]]=1
print(y_logtest.shape)    
print(y_logtest)

(10000, 784)
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
(10000,)
[15795   860  5390 ...   634 10057 13345]
(10000, 20000)
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [10]:
def sigmoid(x):
    return 1/(1+np.exp(-x))

In [11]:
def logistic(x,w,b):
    m=x.shape[0]
    y=sigmoid(np.matmul(x,w)+b)
    return y

In [12]:
def cost(x,y,w,b):
    m=x.shape[0]
    y_predicted=logistic(x,w,b)
    loss=((y*np.log(y_predicted))+(1-y)*np.log(1-y_predicted))
    cost=np.sum(loss,axis=0)
    cost/=-m
    return cost

In [13]:
w_=np.zeros(784)
b_=0
print(cost(x_train,y_train,w_,b_))

0.6931471805599454

In [14]:
def gradient(x,y,w,b):
    m=x.shape[0]
    dJ_dw=np.zeros(w.shape)
    dJ_db=np.zeros(b.shape)
    y_predicted=logistic(x,w,b)
    loss=y_predicted-y
    dJ_dw=(1/m)*(np.matmul(x.T,loss))
    dJ_db=(1/m)*(np.sum(loss,axis=0))
    return dJ_dw,dJ_db

In [15]:
def gradient_decent(x,y,w,b,alpha,iterations_n):
    for i in range(iterations_n):
        dJ_dw,dJ_db=gradient(x,y,w,b)
        w-=alpha*dJ_dw
        b-=alpha*dJ_db
    return w,b

In [16]:
def prob_check(y_pred,y):
    return((np.sum(y_pred==y))/y_pred.shape*100)

In [17]:
w1=np.zeros((784,10))
b1=np.zeros(10)
w2,b2=gradient_decent(x_train,y_log,w1,b1,0.01,1000)

/var/folders/bn/pxfj4spn4ngcxsmkcndws_wm0000gp/T/ipykernel_4733/2219142286.py:2: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-x))

In [18]:
y_predicted=logistic(x_train,w2,b2)
print(y_predicted)

[[9.98494935e-001 6.69575211e-103 2.46361662e-127 ... 4.68354814e-205
  3.19562795e-110 6.60220319e-099]
 [5.77887460e-231 1.76247925e-034 2.04692556e-157 ... 0.00000000e+000
  1.00000000e+000 1.98467253e-275]
 [2.23277311e-280 1.00000000e+000 0.00000000e+000 ... 0.00000000e+000
  1.77081105e-123 3.50210806e-237]
 ...
 [0.00000000e+000 1.55889059e-211 4.21666055e-192 ... 0.00000000e+000
  2.63881309e-155 1.00000000e+000]
 [0.00000000e+000 2.38199376e-210 1.43028280e-168 ... 2.16249855e-276
  2.99290570e-194 8.23195049e-142]
 [0.00000000e+000 8.66039405e-180 7.25003254e-199 ... 0.00000000e+000
  2.41427393e-076 9.99999867e-001]]

/var/folders/bn/pxfj4spn4ngcxsmkcndws_wm0000gp/T/ipykernel_4733/2219142286.py:2: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-x))

In [19]:
y_check=np.zeros(30000)
for i in range(30000):
    y_check[i]=np.argmax(y_predicted[i])
print (y_check)

[0. 8. 1. ... 9. 3. 5.]

In [20]:
prob_check(y_check,y_train)

array([96.08666667])

In [21]:
x_train1=x_train[:21000,:]
print(x_train1.shape)
print(x_train1)
y_train1=y_train[:21000]
print(y_train1.shape)
print(y_train1)
y_logtest=np.zeros((21000,10))
for i in range(21000):
    y_log[i,y_train1[i]]=1
print(y_logtest.shape)    
print(y_logtest)

(21000, 784)
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
(21000,)
[0 8 1 ... 7 3 0]
(21000, 10)
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [22]:
w1=np.zeros((784,10))
b1=np.zeros(10)
w2,b2=gradient_decent(x_train,y_log,w1,b1,0.01,1000)

/var/folders/bn/pxfj4spn4ngcxsmkcndws_wm0000gp/T/ipykernel_4733/2219142286.py:2: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-x))

In [23]:
x_cv=x_train[21000:30000,:]
print(x_cv.shape)
print(x_cv)
y_cv=y_train[21000:30000]
print(y_cv.shape)
print(y_cv)

(9000, 784)
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
(9000,)
[4 8 9 ... 9 3 9]

In [24]:
y_predicted_cv=logistic(x_cv,w2,b2)
print(y_predicted_cv)

[[0.00000000e+000 0.00000000e+000 0.00000000e+000 ... 0.00000000e+000
  6.32679925e-074 4.78303121e-010]
 [3.50920436e-277 2.85306273e-226 0.00000000e+000 ... 0.00000000e+000
  1.00000000e+000 1.88074063e-210]
 [4.70936633e-159 1.44272095e-238 4.44422058e-280 ... 0.00000000e+000
  8.33924953e-171 1.00000000e+000]
 ...
 [0.00000000e+000 1.55889059e-211 4.21666055e-192 ... 0.00000000e+000
  2.63881309e-155 1.00000000e+000]
 [0.00000000e+000 2.38199376e-210 1.43028280e-168 ... 2.16249855e-276
  2.99290570e-194 8.23195049e-142]
 [0.00000000e+000 8.66039405e-180 7.25003254e-199 ... 0.00000000e+000
  2.41427393e-076 9.99999867e-001]]

/var/folders/bn/pxfj4spn4ngcxsmkcndws_wm0000gp/T/ipykernel_4733/2219142286.py:2: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-x))

In [25]:
y_check_test=np.zeros(9000)
for i in range(9000):
    y_check_test[i]=np.argmax(y_predicted_cv[i])
print (y_check_test)

[4. 8. 9. ... 9. 3. 5.]

In [26]:
prob_check(y_check_test,y_cv)

array([96.13333333])

In [27]:
y_predicted_test=logistic(x_test,w2,b2)
y_pred_test=np.zeros(10000)
for i in range(10000):
    y_pred_test[i]=np.argmax(y_predicted_test[i])
print (y_pred_test) 
csv_file_path = 'Logistic_Predicted.csv'
np.savetxt(csv_file_path, y_pred_test, delimiter=',')
print(f"Array has been saved to {csv_file_path}")

[0. 4. 5. ... 0. 8. 2.]
Array has been saved to Logistic_Predicted.csv

/var/folders/bn/pxfj4spn4ngcxsmkcndws_wm0000gp/T/ipykernel_4733/2219142286.py:2: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-x))